.gener-info {
  margin: 4rem 0;
}
.info-top-contain {
  text-align: center;
}

.info-top-contain p {
  max-width: 50%;
  margin: auto;
}

/* @media (min-width: 900px) {
  .card-grid { grid-template-columns: repeat(2, 1fr); }
} */
