.gener-info {
  margin: 4rem 0;
}
.info-top-contain {
  text-align: center;
}

.info-top-contain h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 7px;
  font-family: var(--largeFont);
  margin: 2rem 0;
}

.info-top-contain h1 strong {
  background-color: var(--secondaryColor);
  padding: 0 0.5rem;
  font-size: 29px;
}
.info-top-contain p {
  max-width: 50%;
  margin: auto;
}

.welcome-center {
  display: flex;
  justify-content: center;
}
.card-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media (min-width: 900px) {
  .card-grid { grid-template-columns: repeat(2, 1fr); }
} */
