.service {
  margin: 10em 0 5em 0;
}

.service-content {
  display: flex;
  align-items: center;
}

.service-content .detail {
  width: 50%;
}
.service-content .detail p {
  margin-left: 3em;
}

@media only screen and (max-width: 920px) {
.service-content {
  display: block;
}
.service-content .detail {
  width: 100%;
}
.service-content .detail p {
  margin-left: 0em; 
}
}