.portfolio {
  margin: 8rem 0;
}
.portfolio-top {
  text-align: center;
}

.portfolio-top p {
  max-width: 50%;
  margin: auto;
}
.cards-grid {
  margin-top: 6rem;
  display: grid;
  grid-gap: 2rem;
}

@media only screen and (max-width: 1200px) {
  .portfolio-top p {
    max-width: 70%;
  }
}

@media only screen and (max-width: 844px) {
  .portfolio-top p {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
