.footer {
  background-color: #22272f;
  padding: 3rem 0 1rem 0;
}

.footer-contain {
  display: flex;
}

.footer-left {
  width: 50%;
}
.footer-right {
  width: 50%;
}

.contact-info {
  display: flex;
  gap: 2rem;
}
.contact-here {
  display: flex;
  gap: 2remj;
}
